div#main {
  font-size:16px;
}

body {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 18px;
  color: #888;
  font-weight: bold;
}


p {
  padding: 10px;
}

.description {
  color: #BBB;
  border-style:dashed;
  border-width:0px;
  border-bottom-width:0px;
  border-top-width:0.5px;
}

.values {
  border-style:solid;
  border-width:0px;
  border-bottom-width:0px;
  border-top-width:1px;
}

.col-c, .col-d {
  background-color: #D4EDFF;
}

.col-e {
  background-color: #94D2FF;
}

.col-f {
  background-color: #FFEB94;
}

.col-g {
  background-color: #FFD694;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;}
  
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 16px;
  overflow:hidden;
  word-break:normal;
}
  
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 16px;
  border-style:solid;
  overflow:hidden;
  word-break:normal;
}
  
.tg .tg-s6z2{text-align:center}

.tg .col
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>

